"flagship" ->
 WorkloadParams(

primeRange = 50_000_000,                    SC: 2.21Mops/s MC: 6.98Mops/s

fibonacciNRange = Pair(92, 92),
fibonacciIterations = 125_000_000,          SC: 17.35Mops/s MC: 67.10Mops/s

matrixSize = 128, 
matrixIterations = 1500,                    SC: 512.50Mops/s MC: 3496.22Mops/s

hashDataSizeMb = 8,                         
hashIterations = 2_500_000,                 SC: 0.25Mops/s MC: 1.49Mops/s    

stringSortIterations = 5_000,              SC: 37.58Mops/s MC: 123.12Mops/s

rayTracingIterations = 400,
rayTracingResolution = Pair(100, 100),
rayTracingDepth = 5,

compressionDataSizeMb = 2,
compressionIterations = 2_000,              SC: 520.39Mops/s MC: 1752.10Mops/s

monteCarloSamples = 100_000_000,              SC: 12.21Mops/s MC: 42.37Mops/s

jsonParsingDataSizeMb = 1,
jsonParsingIterations = 8_000,              SC: 4.42Mops/s MC: 17.46Mops/s

nQueensSize = 15,                           SC: 44.08Mops/s MC: 178.70Mops/s
)